.cache/
.claude/
.pio/
.venv/
.vscode/
build*
managed_components/
sdkconfig
sdkconfig.*
!sdkconfig.defaults.*


# Intentionally disable this as this repo is for my board
!sdkconfig.user.*
# user_platformio.ini

# macOS metadata
.DS_Store
**/.DS_Store
