# Change the pins for more suitable pins in our board:
# https://wiki.lilygo.cc/get_started/en/High_speed/T-ETH-Lite/T-ETH-Lite-S3/T-ETH-Lite-S3.html
CONFIG_I2S_SCK_IO=8
CONFIG_I2S_BCK_IO=15
CONFIG_I2S_WS_IO=16
CONFIG_I2S_DO_IO=17
CONFIG_I2S_GND_IO=18


# W5500 Ethernet
CONFIG_ETH_W5500_ENABLED=y
CONFIG_ETH_USE_SPI_ETHERNET=y
CONFIG_ETH_SPI_ETHERNET_W5500=y
CONFIG_SPI_CLK_GPIO=10
CONFIG_SPI_MOSI_GPIO=12
CONFIG_SPI_MISO_GPIO=11
CONFIG_ETH_W5500_CS_GPIO=9
CONFIG_ETH_W5500_INT_GPIO=13
CONFIG_ETH_W5500_RST_GPIO=14
